.contact-component {
    background-color: black;
    color: white;
}
.contact-heading-content {
    text-align: center;
    color: white;
    font-size: 70px;
    padding-top: 80px;
    padding-bottom: 40px;
}
.contact-para-size {
    font-size: 30px;
    text-align: center;
    width: 63%;
    color: white;
    opacity: 80%;
    padding-bottom: 60px;
    transition: .3s;
}
.contact-para-size:hover {

    text-align: center;
    width: 63%;
    color: white;
    opacity: 100%;
    padding-bottom: 60px;
}
.contact-layer {
    padding-top: 40px;
    padding-bottom: 100px;
}
@media only screen and (max-width: 600px) {
    .contact-para-size {
        font-size: 18px;
        text-align: center;
        width: 63%;
        color: white;
        opacity: 80%;
        padding-bottom: 60px;
        transition: .3s;
    }
  }