.cart-item-footer{
    background-color: rgb(3, 189, 3);
    color: white;
    
}

.cart-item-price {
    color: white;
    padding-left: 13px;
    padding-top: 3px;
}
.cart-item {
    width: 85%;
}
.card-style {
    height: 400px;
}
.card-body-style {
    padding: 30px;
}
.card-button {
    padding-left: 19px;
    padding-bottom: 50px;
}